<% include partials/header%>
<div class="app-body">
	<h1>Current Weather</h1>
	<table>
		<tr>
			<td>Temperature</td>
			<td><span id="temp"></span> &deg;<span id="tempUnit">C</span></td>
		</tr>
		<tr>
			<td>Humidity</td>
			<td></td>
		</tr>
		<tr>
			<td>Windspeed</td>
			<td><span id="windspeed"></span><span id="speedUnit"> kph</span></td>
		</tr>
		<tr>
			<td>Cloud Cover</td>
			<td></td>
		</tr>
	</table>
</div>


<%include partials/footer%>