<% include partials/header%>
<h1>Current Weather</h1>

<table>
	<tr>
		<th>Temperature</th>
		<th>Humidity</th>
		<th>Windspeed</th>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
</table>

<div id="coords"></div>

<%include partials/footer%>