* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

body {
	font-family: "Mina", sans-serif;
	background-repeat:no-repeat;
}

@media screen and (max-width: 800px) {
	body {
		font-family: "Mina", sans-serif;
		background-image:url("weather_app_imgs/winter.jpeg");
		background-repeat:no-repeat;
		background-size:cover;
		background-position: center;
	}
}

table {
	border:2px solid black;
	margin:auto;
	border-spacing: 10px;
	border-radius:5px;
}

td {
	margin: 10px;
	text-align:center;
}

h1 {
	font-size: 1.2rem;
	font-weight: 700;
}

.app-body{
	color:white;
	float:left;
	font-size:1rem;
	background:rgba(30, 30, 30, 0.2);
	height:25%;
	margin:1% 0 0 1%;
	border-radius:5px;
	padding:10px;
}